body {
    background-color: black;
    color: white;
    font-family: Monospace, serif;
}

a, a:visited {
    color: white;
}

.content_container {
    margin: auto;
    width: 1024px;
}

#choose {
    margin-top: 10px;
}

pre {
    background-color: white;
    color: black;
}